html {
  background-color: hsl(230, 100%, 99%);
  color: hsl(225, 20%, 60%);
  font-family: 'Manrope', sans-serif;
  line-height: 1.4em;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('design/images/bg-pattern.svg');
  background-position: top left;
  background-repeat: no-repeat;
}

h1 {
  color: hsl(227, 35%, 25%);
  font-weight: 800;
  font-size: 1.8em;
}

h2 {
  font-weight: 600;
  font-size: 1em;
}

.hero {
  background-image: url('design/images/pattern-circles.svg');
  background-repeat: no-repeat;
  background-position: center;
  padding: 24px;
  margin: 36px;
  line-height: 1.5em;
}

.container {
  background-color: white;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 5px hsl(223, 50%, 87%));
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.container-head {
  padding: 35px 35px 20px 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pageviews {
  font-weight: 800;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px;
  order: 1;
}

.price {
  order: 1;
}

.number {
  color: hsl(227, 35%, 25%);
  font-weight: 800;
  font-size: 2em;
}

.slider {
  flex-basis: 100%;
  width: 100%;
  margin: 35px 15px 10px;
  order: 2;
}

hr {
  width: 100%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  flex-basis: 100%;
}

.container-foot {
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

ul {
  text-align: left;
  font-size: .8em;
  list-style-image: url('design/images/icon-check.svg');
  padding: 15px;
  margin: auto;
  
}

button {
  color: white;
  padding: 10px 45px;
  background-color: hsl(227, 35%, 25%);
  font: inherit;
  border: none;
  font-size: .8em;
  border-radius: 25px;
  cursor: pointer;
  margin: auto;
  
}

.discount-desktop {
  display: inline-block;
  font-size: .9em;
  font-weight: 800;
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  outline: solid 1px hsl(15, 100%, 70%);
  border-radius: 15px;
  padding: 1px 4px;
  margin-left: 5px;
  height: auto;
}

.discount-mobile {
  display: none;
}

@media (max-width: 768px) {

  .hero {
    margin: 10px;
    padding: 25px 12px;
  }

  h1 {
    font-size: 1.1em;
  }

  h2 {
    font-size: .9em;
  }

  .container-head {
    flex-direction: column;
    justify-content: center;
    margin-left: -30px;
  }

  .pageviews {
    order: 1;
  }

  .price {
    padding-top: 25px;
    order: 3;
  }

  .slider {
    order: 2;
  }

  .discount-flag {
    display: none;
  }

  .container-foot {
    flex-direction: column;
    justify-content: center;
  }

  .discount-flag {
    visibility: hidden;
  }

  ul {
    text-align: center;
  }
  
  button {
    margin: 10px;
  }

  .discount-desktop {
    display: none;
  }
  
  .discount-mobile {
    display: inline-block;
    font-weight: 800;
    background-color: hsl(14, 92%, 95%);
    color: hsl(15, 100%, 70%);
    outline: solid 1px hsl(15, 100%, 70%);
    border-radius: 10px;
    padding: 0px 2px;
    margin-left: 2px;
    height: auto;
  }
}
